<div class="card-container">
    <div style="width: 60%; float: right; padding: 2%; margin: 2%; margin-top: 5%;">
        <div>
            <!--<img class="responsive" src="assets/imagenes/ejemplo2.jpg">!-->
        </div>
        
    </div>

    <div class="card" style="width: 30%; float: right; padding: 2%; margin: 2%;">
        <div class="card-body">
            <h5 class="card-title">Travel</h5>
            <p class="card-text"></p>
            <div>
                
            </div>
        </div>
    </div>
</div>

