<div class="container">
  <div class="row justify-content-center">
      <div class="text-dark p-5">
          <h2 class="alldata">User information</h2>
          
          <ng-container *ngIf="authservice.currentUserId; else noUser">
            <h4><b>User email:</b>{{authservice.currentUserName}}</h4>
            <button class="btn-danger" (click)="authservice.singout()">Logout</button>
          </ng-container>

          <ng-template #noUser>
            <p>No user available</p>
          </ng-template>
      </div>
  </div>
</div>
